LIBRARY_LOGIN_ID=your_library_login_id_here
LIBRARY_PASSWORD=your_library_password_here
SPREADSHEET_ID_NEW_BOOKS=your_spreadsheet_id_for_new_books_here
SPREADSHEET_ID_READING_HISTORY=your_spreadsheet_id_for_reading_history_here
GEMINI_API_KEY=your_gemini_api_key_here
GMAIL_ADDRESS=your_gmail_address@gmail.com
GMAIL_APP_PASSWORD=your_gmail_app_password_here
